*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}


.sidebar {
    background-color: black;
    width: 350px;
    border-radius: 1rem; /*16px*/
    margin-right: 0.5rem;
}
.main-content {
    background-color: #121212;
    flex: 1; /* This means "main-content" takes the remaining full space after "sidebar" */
    border-radius: 1rem; /*16px*/
    overflow: auto; /*Provides a scrollbar if the content is full*/
    
}
.music-player {
    background-color: #070707;
    position: fixed; /* The "music-player" div will fixed on the screen even if we scrolldown etc */
    bottom: 0px; /*It will be fixed to the bottom from 0px*/
    height: 72px;
    width: 100%;
    margin-top: 0.5rem;
}

/*Sidebar*/
a {
    text-decoration: none;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.icons {
    font-size: 1.25rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover {
    opacity: 1;
}


.lib-box {
    background-color: #121212;
}
.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}
.box-p1 {
    background-color: #232323;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.25rem;
}
.box-p2 {
    background-color: #232323;
    font-size: 0.75rem;
    opacity: 0.9;
    margin: 0.25rem;
}
.badge {
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    text-align: center;
}

/*Main-Content*/
.badge-dark {
    background-color: #121212;
    color: white;
}
.sticky-nav {
    position: sticky; /*It will stick to the top when scrolled*/
    top: 0;
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    z-index: 10;
}
.sticky-nav-icons {
    display: flex;
    background-color: #232323;
}
.sticky-nav-icons img {
    background-color: #232323;

}
.hide{
    margin-left: 0.5rem;
}
.sticky-nav-options {
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
}
.sticky-icon {
    background-color: #232323;
}

@media (max-width: 1000px){
    .hide{
        display: none;
    }
}

h2{
    background-color: #232323;
    padding: 1rem;
}
h2:hover{
    text-decoration: underline;
}
.cards-container {
    background-color: #232323;
    padding: 1rem;
    display: flex; /*Cards will be in row*/
    flex-wrap: wrap;
}
.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 0.15rem;
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-title {
    background-color: #232323;
    font-weight: bold;
    margin: 0.5rem 0;
}
.card-info {
    background-color: #232323;
    opacity: 0.8;
}
.card:hover {
    background-color: #1d1d1d;
}
.card-title:hover{
    background-color: #1d1d1d;
    text-decoration: underline;
}
.card-info:hover{
    background-color: #1d1d1d;
    opacity: 1;
    text-decoration: underline;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

/*Music-Player*/
.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    background-color: #070707;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album-title{
    font-weight: bold;
    margin: 0.5rem 0;
}
.album-title:hover {
    text-decoration: underline;
}
.album-info {
    font-size: small;
    opacity: 0.8;
}
.album-info:hover {
    text-decoration: underline;
}
.album-icon {
    height: 1.5rem;
    opacity: 0.7;
}
.album-icon2 {
    height: 2rem;
} 

.player {
    width: 50%;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
}
.player-control-icon {
    height: 1rem;
    margin: 0 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.center-icon {
    height: 2rem;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    margin-top: 0.5rem;
}
.progress-bar {
    width: 70%;
    cursor: pointer;
    height: 0.25rem;
}
.progress-bar:hover {
    height: 0.9rem;
}

.controls {
    background-color: #070707;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.control-icon1 {
    height: 2.5rem;
}
.control-icon2 {
    height: 2.5rem;
}
.control-icon3 {
    height: 1.6rem;
    opacity: 0.7;
}
.control-icon4 {
    height: 1rem;
    opacity: 0.7;
}
.control-icon5 {
    height: 2.5rem;
}
.volume-control {
    cursor: pointer;
    height: 0.25rem;
}
.volume-control:hover {
    height: 0.9rem;
}